<section class="grid-container">
  <div class="shift-pattern">Patterns
  <div>##display all patterns in model</div>
  <div>##display button for creating a new button</div>
  </div>
  <div class="shifts">
    <%= month_calendar do |date| %>
      <%= date %>
    <% end %>
  </div>
</section>