// Place all the styles related to the planning_periods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.grid-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  grid-gap: 5px;  
}

.shift-pattern {
  border-radius: 4px;
  border: solid black;
  height: 40vh;
  padding: 5px;
  overflow: scroll;  
}

.shifts {
  border: solid black;
  border-radius: 4px;
  height: 40vh;
  overflow: scroll;
  padding-top:5px;
  padding-bottom:5px;
}

.pattern {
  height: 10vh;
  padding-top: 5px;
  border: solid red;
}

.pattern-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.row-grid {
  overflow: hidden;
  padding-left: 10px;
  display: grid;  
  grid-template-columns: repeat(auto-fill, 2.20vw);
  border: solid white;
}

.date {
  border-right: dotted gray;
  text-align: center;
  vertical-align: middle;
}

.shift {
  text-align: center;
  vertical-align: middle;
  height: 10vh;
  border: dotted grey;
  overflow:hidden;
}


.date-header {
  border: solid white;
}

.month-input {
  width: 200px;
}

.pattern-input {
  width: 100px;
}
